/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

:root {
  --clr-primary: #1ab394;
  --clr-secondary-dark: #245373;
  --clr-secondary-light: #1997f0;
  --clr-white: #fff;
  --clr-gray-dark: #e5e5e5;
  --clr-gray-light: #fcfcfc;
  --clr-blue-dark: #051521;
  --clr-blue-semi-dark: #0D3C5C;
  --clr-blue-light: #BBDFD8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  list-style-type: none;
}

body {
  background-image: url("../images/bg-image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  color: var(--clr-secondary-dark);
  height: 100vh;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}