.card-container {
  width: 550px;
  padding: 40px 20px 20px 30px;
}

.card-container h2 {
  font-size: 1.4em;
}

button {
  padding: 15px;
}

select {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

input,
select {
  padding: 1.2vh;
}

.card-container {
  padding: 3vh 1.5vw 2vh 1.5vw;
}

.card-container h2 {
  margin-bottom: 2.5vh;
}

.page {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

@media screen and (max-width: 610px) {
  .card-container {
    width: 100%;
    margin-bottom: 40px;
  }

  .card-container h2 {
    font-size: 1em;
  }

  .page {
    padding: 0 10px;
  }
}
