body {
  display: flex;
}

nav {
  display: block;
  width: 270px;
  min-width: 270px;
  height: 100%;
  background: var(--clr-blue-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  transition: all 1s ease;
}

#show-nav {
  position: absolute;
  left: 30px;
  top: 2%;
  cursor: pointer;
  font-size: 2em;
}

#hide-nav {
  display: none;
  position: absolute;
  right: 5%;
  top: 4%;
  color: white;
  font-size: 2em;
  cursor: pointer;
}

main {
  flex: 1;
  margin-left: 270px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}

header h2 {
  margin-left: 30px;
  align-self: end;
  font-size: 1.12em;
  font-weight: 800;
  color: #0d3c5c;
}

.profile-item {
  display: flex;
  margin-right: 30px;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
}

.profile-infos {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.profile-name {
  color: var(--clr-primary);
  font-weight: 700;
  font-size: 0.9em;
}

.profile-email {
  font-size: 0.6em;
  font-weight: 700;
  margin-top: 3px;
  color: #0d3c5c;
}

.profile-item img {
  object-fit: cover;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.logo-container img {
  width: 40px;
  height: 35px;
}

.logo-container h1 {
  margin-top: 2px;
  font-weight: 700;
  color: var(--clr-primary);
  font-size: 1.3em;
  line-height: 36.57px;
}

.menu {
  width: 100%;
  color: white;
  margin-top: 40px;
}

.menu img {
  width: 30px;
  height: 30px;
}

.nav-item {
  padding: 5px 0;
  margin-bottom: 10px;
  margin-left: 16px;
}

.nav-item a {
  display: flex;
  padding-left: 13px;
  align-items: center;
  margin-left: 10px;
  transition: all 0.5s cubic-bezier(0.15, 0.62, 0.13, 1.1);
}

.nav-item a:hover {
  transform: translateX(5%);
}

.nav-item p {
  margin-left: 30px;
  font-size: 0.9em;
  font-weight: 500;
}

.active {
  background: #18242d;
  border-radius: 10px 0 0 10px;
}

.logout {
  width: 100%;
  margin-top: auto;
  margin-bottom: 20%;
  display: flex;
  flex-direction: column;
  color: white;
}

.logout hr {
  width: 75%;
  margin: 0 auto 20px auto;
  border: none;
  height: 1px;
  background-color: rgba(26, 179, 148, 0.34);
}

.page {
  padding: 0 30px;
}

.cards {
  display: inline-flex;
  justify-content: space-between;
  gap: 40px;
  padding-top: 30px;
  width: 100%;
  flex-wrap: wrap;
}

.card {
  background-color: rgba(187, 223, 216, 1);
  width: 300px;
  border-radius: 10px;
  padding: 10px 25px 18px 25px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  display: flex;
  flex: 1;
  align-items: center;
}

.card-title p {
  font-size: 0.8em;
  font-weight: 800;
  margin-left: 10px;
}

.card-link a {
  display: flex;
  flex: 1;
  justify-content: end;
  align-items: center;
  transition: all 0.3s ease-out;
}

.card-link a:hover {
  transform: translateX(10px);
  font-weight: 900;
}

.card-link p {
  font-size: 0.6em;
  color: var(--clr-primary);
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-right: 5px;
}

.card-link img {
  width: 18px;
  height: 10px;
  object-fit: cover;
}

.card-body {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat-item .text {
  font-size: 0.7em;
  font-weight: 800;
  padding-top: 10px;
}

.stat-item .value {
  font-size: 1.7em;
  font-weight: 800;
  color: #0d3c5c;
}

.chart {
  margin-top: 40px;
  width: 99%;
  height: 62vh;
}

.chart canvas {
  height: 50%;
}

#main-nav {
  opacity: 0;
  transform: translateX(-100%);
  visibility: hidden;
  width: 100%;
  z-index: 99;
  transition: all 0.5s ease;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/* ------- MEDIA QUERIES --------*/
@media screen and (max-width: 1309px) {
  .card {
    width: 400px;
  }

  .card:nth-of-type(3) {
    flex-grow: 1;
  }

  .chart {
    height: 60vh;
  }
}

@media screen and (max-width: 1170px) {
  .card {
    width: 100%;
  }

  #main-nav {
    opacity: 0;
    visibility: hidden;
  }

  #left-nav {
    display: block;
  }

  #show-nav {
    display: none;
  }
}

@media screen and (max-width: 890px) {
  #left-nav {
    display: none;
  }

  #main-nav {
    opacity: 1;
    visibility: visible;
  }

  main {
    margin-left: 0;
  }

  #show-nav {
    display: inline-block;
  }

  header {
    height: 12%;
  }

  .profile-item {
    display: flex;
    margin-right: 30px;
    align-items: start;
    margin-top: 15px;
    cursor: pointer;
  }

  .profile-infos {
    margin-top: 8px;
    margin-right: 9px;
  }

  .profile-name {
    font-size: 0.8em;
  }

  header {
    align-items: start;
  }

  .profile-email {
    display: none;
  }

  .chart {
    height: 47vh;
  }
}
