div.container {
  max-width: 1200px;
}

#notesModal {
  padding-top: 30px;
  align-items: start;
  gap: 10px;
}

#notesModal label {
    font-weight: 500;
    font-size: 0.9em;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal .actions button:first-of-type {
    background-color: #9d0000;
}

.modal {
    padding-top: 25px;
    padding-bottom: 25px;
}

.modal button {
    width: 40% !important;
    margin-left: 0;
}

@media screen and (max-width: 1190px) {
  .modal {
    left: 38%;
    width: 50%;
  }
}

@media screen and (max-width: 890px) {
  .modal {
    left: 5%;
    width: 90%;
  }
}
