.actions {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.modal .actions button:first-of-type {
    background-color: #9d0000;
}

.modal {
    padding-top: 25px;
    padding-bottom: 25px;
}

.modal button {
    width: 40% !important;
    margin-left: 0;
}