/* --------- GENERAL OVERRIDE ---------*/


/* --------- PAGE SPECIFIC ---------*/
header {
  height: 10%;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 13px 0 0 18px;
}

.logo-img img {
  width: 100%;
  height: 100%;
}

.logo-text {
  color: var(--clr-primary);
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 10px;
  font-size: 1.3em;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90%;
}

.left-section {
  width: 35vw;
  height: 50vh;
}

.left-section img {
  width: 100%;
  height: 100%;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

.right-section p {
  text-align: center;
  margin-top: 3vh;
  font-size: 0.8em;
}

.text-link {
  color: var(--clr-primary);
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  transition: all 1s ease;
}

.text-link:hover {
  transform: scale(1.1);
}

.forgot-password {
  display: flex;
  justify-content: center;
  font-size: 0.7em;
  padding: 1vh 0;
}

.forgot-password a {
  color: var(--clr-secondary-light);
}

/* -------- MEDIA QUERIES ----------*/
@media screen and (max-width: 1445px) {
  .left-section {
    width: 35vw;
    height: 40vh;
  }
}

@media screen and (max-width: 700px) {
  .left-section {
    display: none;
  }

  .right-section {
    width: 90%;
  }

  .card-container {
    width: 100%;
  }

  .card-container h2 {
    font-size: 15px;
  }

  .logo-container {
    padding: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .logo-img {
    width: 40px;
  }

  .logo-text {
    margin: 0;
  }
}